<center>
<h1> <%=@question.question_text%> </h1>
<% @question.comments.all.each do |comment| %>
<%= comment.comment_text %>
<br>
commented by: <%=comment.user.user_name%>
<% end %>
<br><br>
<a href="/questions/<%=@question.id%>/comments/new">comment on question</a>

<h3>answers:</h3>
<%@answers.each do |answer|%>
 <%= answer.user.user_name %>'s answer:   <%= answer.answer_text %>
 <a href="/answers/<%=answer.id%>/comments/new"> Add comment. </a>
<br>
  <% answer.comments.all.each do |comment|%>
  <%= comment.comment_text %> <br> commented by: <%=comment.user.user_name%>
  <br><br>
  <%end%>
  <br><br>
<%end%>



<a href="/questions/<%=@question.id%>/answers/new">answer the question</a>
</center>
